@font-face {
    font-family: "Raleway";
    src: url("Fonts/static/Raleway-Medium.ttf");
}

@font-face {
    font-family: "Rancho";
    src: url("Fonts/Rancho-Regular.ttf");
}
html {
    max-width: 1440px;
    margin: auto;   
}
body {
    font-family: "Raleway";
    max-width: 1440px;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}

h1 {
    font-family: "Rancho";
    color: #0065FC;  
    text-align: left;
}

#logo {
    width: 120px;
    height: 60px;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.menu1 {
    margin: 20px 20px 20px;
    color:  #0065FC;
    border-style: solid;
    border-color: #0065FC white white;  
}
.menu2 {
    margin: 20px 20px 20px;
}
.menu3 {
    margin: 20px 20px 20px;
    color:  #0065FC;
}

#hébergements {   
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 850px;
    height: 650px;
    margin-bottom: 30px;  
}

#hébergementsPhotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px; 
    max-width: 850px; 
}

aside {
    background-color: white;
}

footer {
    background-color: #F2F2F2;
    max-width: 1440px;
    text-align: left;
    border-radius: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

li {
    padding-bottom: 20px;
}

img {
    width: 200px;
    height: 100px;
    min-width: 120px;
    min-height: 60px; 
}
.photo {
    background-color: white;
    border-radius: 20px; 
    border: 20px white;
    padding-top: 5px;
    margin: 0px 30px 60px 30px;
    box-shadow: 2px 2px 15px grey;
    line-height: 0.5em;
    width: 210px;
    height: 190px;

}

.photo1 {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;  
    margin-left: 5px;   
    margin-right: 5px;
    object-fit: cover;
}

.txt {
    margin-left: 10px;
}

.etoiles {
    display: flex;
    justify-content: flex-start;
}

.etoilesbleus {
    padding-left: 10px;
    margin-bottom: 5px;
    color:  #0065FC;
}

.etoilesgrises {
    padding-left: 5px;   
    padding-bottom: 10px;
    color: rgb(185, 185, 185);
}

.title1 {
    padding-top: 5px;
    padding-left: 40px;
    
}

.afficher {
    padding-bottom: 10px;
    padding-left: 50px;
}

#footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer1 {
    flex-wrap: wrap;
}

main {
    margin: auto;
}

#localisation {
    background-color: #F2F2F2;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    min-width: 30px;
    height: 20px;
    padding: 5px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.recherche {
    display: flex;
    justify-content: flex-start;
    height: 50px; 
    padding-bottom: 30px;  
}

#champrecherche {
    min-width: 280px;
    height: 50px;
    
}

input {
    min-width: 280px;
    min-height: 40px;
    border: none;
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 5px;
}

#rechercher {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 20px;
    width: 110px;
    max-height: 20px; 
            
}

.search {
    background-color: #0065FC;
    border: none;
    color: white;
    border-radius: 0px 15px 15px 0px;
    font-family: "Raleway"; 
}

.filtre {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    flex-wrap: wrap;
    min-width: 300px;
    max-width: 1100px;
    align-items: center;
}

.filtrediff {
    width: 200px;
    min-height: 80px; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.filtre1 {
    border-width: 0.5px 0px 0.5px 0.5px;
    border-style: solid;
    border-radius: 50px 0px 0px 50px ;
    border-color:  rgba(143, 143, 143, 0.377) transparent; 
}

.txtfiltre {
    font-family: "Raleway";
    min-width: 51px;
    min-height: 51px;
    color: black;
    border-width: 0.5px;
    border-style: solid;
    border-color:  rgba(143, 143, 143, 0.377)  rgba(143, 143, 143, 0.377)  rgba(143, 143, 143, 0.377) transparent ;
    border-radius: 0px 50px 50px 0px;
    padding-right: 20px;
}

.txtfiltre:hover {
    border-color: #0065FC;
}

.logofiltre {
    color: #0065FC;
    background-color: #DEEBFF;
    width: 51px;
    height: 49px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    display: flex;    
}

button {
    background-color: white;
    border: none;
    color: white;
    
}

#informations {
    display: flex;
    justify-content: flex-start;
}

#info {
    width: 1px;
    height: 3px;
    padding-right: 20px;
    padding-top: 15px;
    padding-left: 10px;
    color: #0065FC;
    border-radius: 50px;
    
   
}

.photo2 {
    border-radius: 20px 0px 0px 20px;
    width: 50px;
    height: 110px;
    margin: 5px; 
    object-fit: cover;
}

.populaires {
    border-radius: 20px;
    background-color: white;
    margin: 30px 30px 40px 30px;
    display: flex;
    min-width: 400px;
    box-shadow: 2px 2px 15px grey;
}

#hebergementspopulaires {
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-bottom: 30px;   
}

#titre2 {
    margin: 30px 0px 30px 0px;
    display: flex;
    justify-content: space-around;
}

#logopopulaire {
   margin: 26px;
}

#hébergementsmarseille {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    padding-bottom: 30px;
}


.txt2 {   
    line-height: 1em;
    padding-left: 10px;
}

.etoiles2 {
    display: flex;
    align-items: end;
}

.etoilesbleus2 {
    color:  #0065FC;
}


.etoilesgrises2 {
    padding-left: 4px;   
    padding-bottom: 10px;
    color: rgb(185, 185, 185);
}

#activités { 
    display: flex;
    flex-wrap: wrap; 
    padding-bottom: 50px;
}

.activitésmarseille {
    border-radius: 20px;
    box-shadow: 0px 5px 1px #F2F2F2;
    margin-bottom: 30px;  
}

.activités2 {
    padding: 0px 100px 0px 100px;
    display: grid;
    grid-gap: 5em;
}

.photo3 {
    border-radius: 20px 20px 0px 0px;
    min-width: 250px;
    min-height: 350px;
    object-fit: cover;
}

.photo4 {
    border-radius: 20px 20px 0px 0px;
    width: 250px;
    object-fit: cover;
}

.txt3 {
   margin-left: 20px;
   margin-bottom: 20px;
   line-height: 2em;
}

