@font-face {
    font-family: "Raleway";
    src: url("Fonts/static/Raleway-Medium.ttf");
}
html {
    width: 1024px;   
}
body {
    font-family: "Raleway";
    width: 1024px;
}

#Menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    top: -80px; left: 200px;
}

.menu1 {
    margin: 20px 20px 20px;
    color:  #0065FC;
}
.menu2 {
    margin: 20px 20px 20px;
}
.menu3 {
    margin: 20px 20px 20px;
    color:  #0065FC;
}

.Hébergements {   
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 700px;
    height: 475px;
}

#HébergementsPhotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

aside {
    background-color: white;
}

footer {
    background-color: #F2F2F2;
    width: 1440px;
    text-align: left;
}

ul {
    list-style-type: none;
}

img {
    width: 200px;
    height: 100px; 
}
.Photo1 {
    background-color: white;
    border-radius: 20px;
}

.Photo2 {
    background-color: white;
    border-radius: 20px;
}

.Photo3 {
    background-color: white;
    border-radius: 20px;
}

.Photo4 {
    background-color: white;
    border-radius: 20px;
}

.Photo5 {
    background-color: white;
    border-radius: 20px;
}

.Photo6 {
    background-color: white;
    border-radius: 20px;
}

.Title1 {
    margin: 50px 10px 20px;
}

.Afficher {
    margin: 10px 10px 50px;
}

#Footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

