@font-face {
    font-family: "Raleway";
    src: url("Fonts/static/Raleway-Medium.ttf");
}

@font-face {
    font-family: "Rancho";
    src: url("Fonts/Rancho-Regular.ttf");
}

.bouton1 {
    text-decoration: none;
}

body {
    font-family: "Raleway"; 
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin: 20px 20px 0px 20px; 
}

main {
    margin: 0px 20px 0px 20px;
}

h1 {
    font-family: "Rancho";
    color: #0065FC;  
    text-align: left;
}


nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end; 
    
}

.menu1 {
    margin: 20px 20px 20px;
    color:  #0065FC; 
    border-style: solid;
    border-color: #0065FC white white;
    border-width: 0.1em;   
}

.menu2 {
    margin: 20px 20px 20px;
}
.menu3 {
    margin: 20px 20px 20px;
    color:  #0065FC;
}



#hébergements {   
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 900px; 
    height: auto;
    margin-bottom: 30px;  
}

#hébergementsPhotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
    margin: 20px;
}

aside {
    background-color: white;
}

footer {
    background-color: #F2F2F2;
    text-align: left;   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

li {
    padding-bottom: 20px;
}

img {
    width: 260px;
    height: 140px; 
}
.photo {
    background-color: white;
    border-radius: 20px; 
    border: 20px white;
    margin-bottom: 30px;
    padding-top: 5px;
    box-shadow: 2px 2px 15px grey;
    line-height: 0.5em;
    width: 270px;
    height: auto;
}


.photo1 {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;  
    margin-left: 5px;   
    margin-right: 5px;
    object-fit: cover;
}

.txt {
    margin-left: 20px;
}

.etoiles {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}

.etoilesbleus {
    margin-bottom: 5px;
    margin-left: 10px;
    color:  #0065FC;
}

.etoilesgrises {
    padding-left: 5px;   
    padding-bottom: 10px;
    color: rgb(185, 185, 185);
}

.title1 {
    padding-top: 5px;
    margin-left: 20px;
    margin-top: 30px;  
}

.afficher {
    margin-bottom: 20px;
    padding-left: 50px;
}

.footer1 {
    flex-wrap: wrap;
    width: 350px;
    margin-left: 20px;
}

#localisation {
    background-color: #F2F2F2;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    min-width: 30px;
    height: 42px;
}

.recherche {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 30px;  
}

input {
    min-width: 180px;
    min-height: 40px;
    border: none;
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 5px;
}

#rechercherbouton {   
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    width: 110px;
     
}

.search {
    background-color: #0065FC;
    border: none;
    color: white;
    border-radius: 0px 15px 15px 0px;
    font-family: "Raleway"; 
    height: 100%;
    
}


.filtre {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 30px;
    flex-wrap: wrap;
    min-width: 300px;
    max-width: 1100px;
    align-items: center;
}

.filtrediff {
    width: 200px;
    min-height: 80px; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
}

.filtre1 {
    border-width: 0.5px 0px 0.5px 0.5px;
    border-style: solid;
    border-radius: 50px 0px 0px 50px ;
    border-color:  rgba(143, 143, 143, 0.377) transparent; 
}

.txtfiltre {
    font-family: "Raleway";
    min-width: 51px;
    min-height: 51px;
    color: black;
    border-width: 0.5px;
    border-style: solid;
    border-color:  rgba(143, 143, 143, 0.377)  rgba(143, 143, 143, 0.377)  rgba(143, 143, 143, 0.377) transparent ;
    border-radius: 0px 50px 50px 0px;
    padding-right: 20px;
}

.txtfiltre:hover {
    border-color: #0065FC;
}

.logofiltre {
    color: #0065FC;
    background-color: #DEEBFF;
    width: 51px;
    height: 49px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    display: flex;    
}

button {
    background-color: white;
    border: none;
    color: white;
    
}

#informations {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 40px;
}

#info {
    width: 1px;
    height: 3px;
    padding-right: 20px;
    padding-top: 15px;
    padding-left: 10px;
    color: #0065FC;
    border-radius: 50px;
    
   
}

.photo2 {
    border-radius: 20px 0px 0px 20px;
    width: 140px;
    height: 150px;
    margin: 5px; 
    object-fit: cover;
}

.populaires {
    border-radius: 20px;
    background-color: white;
    margin: 30px 30px 40px 30px;
    display: flex;
    box-shadow: 2px 2px 15px grey;
}

#hebergementspopulaires {
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-bottom: 30px;
    width: auto; 
    height: auto;  
}

#titre2 {
    margin: 30px 0px 30px 0px;
    display: flex;
    justify-content: space-around;
}

#logopopulaire {
   margin: 26px;
}

#hébergementsmarseille {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    padding-bottom: 30px;
}


.txt2 {   
    line-height: 1em;
    padding-left: 30px;
}

.etoiles2 {
    display: flex;
    align-items: flex-end;
}

.etoilesbleus2 {
    color:  #0065FC;
    align-items: flex-end;
}


.etoilesgrises2 {
    margin-left: 4px;   
    color: rgb(185, 185, 185);
    align-items: flex-end;
}

#activités { 
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    padding-bottom: 50px;
    height: auto;
}

.activitésmarseille {
    border-radius: 20px;
    box-shadow: 0px 5px 1px #F2F2F2;
    margin-bottom: 20px;
    height: auto;
}

.activités2 {
    display: grid;
    grid-gap: 2em; 
}

.photo3 {
    border-radius: 20px 20px 0px 0px;
    width: 300px;
    height: 550px;
    object-fit: cover;
}

.photo4 {
    border-radius: 20px 20px 0px 0px;
    width: 300px;
    height: 280px;
    object-fit: cover;
}

.photo5 {
    border-radius: 20px 20px 0px 0px;
    width: 300px;
    height: 140px;
    object-fit: cover;
}

.txt3 {
   margin-left: 20px;
   line-height: 2em;
}

#activitéh2 {
    margin-left: 20px;
}

@media screen and (max-width: 500px) {
    .photo1, .photo3, .photo4, .photo5 {
        width: 310px;
        height: 120px;
    }
    .photo {
        height: auto;
        width: auto;
    }
    #hebergementspopulaires {
        height: auto;
        align-items: center;
        align-content: center;
    }
    .photo2 {
        width: 120px;
        height: auto;
    }
    .populaires {
        width: 310px;
        height: 160px;
    }
    .activités2 {
        grid-gap: 0em;
    }
    #titre2 {
        justify-content: center;
    }
    .search {
        border-radius: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
    #txtbouton {
        display: none;
    }
    #iconbouton {
        display: inline-block;
    }
    nav {
        flex-wrap: wrap-reverse;
    }
    .menu3 {
        margin-top: -30px;
    }
    h1 {
        margin-bottom: 0px;
    }
    .menu1 {
        border-style: solid;
        border-color:white white #0065FC;
        border-width: 0.1em;
    }

}

@media screen and (min-width: 501px) {
    #txtbouton {
        display: inline-block;
    }

    #iconbouton {
        display: none;
    }
}

@media  screen and (min-width: 1501px) {
    img {
        width: 300px;
    } 
    .photo {
        width: 310px
    }
    #hébergements {
        width: 1100px;
    }
    .photo2 {
        width: 180px;
    }
    #hebergementspopulaires {
        width: 580px;
    }
    .photo3, .photo4, .photo5 {
        width: 350px
    }
}